html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #181818;
}

#root{
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
